<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="yaroslav.android.battlechess"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="11" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >" >
        
        <activity android:name="yaroslav.android.battlechess.gui.activities.Launcher"
              android:label="@string/app_name"
              android:screenOrientation="landscape"
		      android:configChanges="keyboardHidden|orientation|screenSize"
        	>
	        <intent-filter>
	            <action android:name="android.intent.action.MAIN" /> 
	            <category android:name="android.intent.category.LAUNCHER" />             
	        </intent-filter>
	   	</activity>
	   	
        <activity
	        android:name="yaroslav.android.battlechess.gui.activities.AboutActivity"
	        android:label="Match"
	        android:parentActivityName="yaroslav.android.battlechess.gui.activities.Launcher" 
	        android:screenOrientation="landscape"
		    android:configChanges="keyboardHidden|orientation|screenSize"
	        >
	        <meta-data
	            android:name="android.support.PARENT_ACTIVITY"
	            android:value="yaroslav.android.battlechess.gui.Launcher" />
    	</activity>
	   	
       	<activity
	        android:name="yaroslav.android.battlechess.gui.activities.SettingsActivity"
	        android:label="Match"
	        android:parentActivityName="yaroslav.android.battlechess.gui.activities.Launcher" 
	        android:screenOrientation="landscape"
		    android:configChanges="keyboardHidden|orientation|screenSize"
	        >
	        <meta-data
	            android:name="android.support.PARENT_ACTIVITY"
	            android:value="yaroslav.android.battlechess.gui.Launcher" />
    	</activity>
        
        <activity
	        android:name="yaroslav.android.battlechess.gui.activities.MatchmakingActivity"
	        android:label="Match"
	        android:parentActivityName="yaroslav.android.battlechess.gui.activities.Launcher" 
	        android:screenOrientation="landscape"
		    android:configChanges="keyboardHidden|orientation|screenSize"
	        >
	        <meta-data
	            android:name="android.support.PARENT_ACTIVITY"
	            android:value="yaroslav.android.battlechess.gui.Launcher" />
    	</activity>
        
        <activity
	        android:name="yaroslav.android.battlechess.gui.activities.MatchActivity"
	        android:label="Match"
	        android:parentActivityName="yaroslav.android.battlechess.gui.activities.Launcher" 
	        android:screenOrientation="landscape"
		    android:configChanges="keyboardHidden|orientation|screenSize"
	        >
	        <meta-data
	            android:name="android.support.PARENT_ACTIVITY"
	            android:value="yaroslav.android.battlechess.gui.Launcher" />
    	</activity>
        
    </application>

</manifest>
